* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    background-color: #fff;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container #quiz-box {
    background: black;
    width: 80vh;
    height: 80vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px 2px;
    
}

.container #quiz-box #quiz-question {
    font-size: 50px;
    color: #fff;

}

#question-answer-box #quiz-options {
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    column-gap: 10px;
    
}



button {
    background-color: blueviolet;
    color: #fff;
    font-size: 25px;
    display: flex;
    margin-bottom: 10px;  
}

.hide {
    display: none;
}

#controller-container button {
    display: flex;
    font-size: 50px;
    padding: 10px;
}

#quiz-box img {
    width: 250px;


}
